.card1 {
  background: #000;
  border-radius: 20px;
  width: 20rem;
  color: #fff;
}

.highlight {
  font-weight: bold;
  color: #294;
}
.message {
  color: #ffa500;
}
.shadow1 {
  -webkit-box-shadow: -4px -18px 60px 0px rgba(101, 32, 161, 1);
  -moz-box-shadow: -4px -18px 60px 0px rgba(101, 32, 161, 1);
  box-shadow: -4px -18px 60px 0px rgba(101, 32, 161, 1);
}

.shadow2 {
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
}
